.el-table td,
.el-table th.is-leaf {
    text-align: center !important;
}

.el-table th {
    background-color: #F2F2F2 !important;
}

.el-dropdown {
    color: #fff !important;
}

.el-tag+.el-tag {
    margin-left: 10px;
}

.button-new-tag {
    margin-left: 10px !important;
    height: 25px;
    line-height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3px !important;
}

.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}

.three_tag .el-input__inner {
    width: 60%;
}

.el-tag {
    margin-top: 7px;
}

//文件上传
.el-upload-dragger {
    width: 100% !important;
    height: 100% !important;
}

.el-upload-dragger:hover {
    border-color: none !important;
}

.el-image__inner {
    -webkit-user-drag: none;
}

.el-upload {
    height: 100%;
    width: 100%;
}

.el-submenu .pic_menu {
    padding: 0 !important;
    min-width: 0 !important;
}

.el-upload-list {
    display: none !important;
}

.dist_st .el-input {
    display: inline-block !important;
    width: 40% !important;
}

.el-range-editor.el-input__inner {
    width: 100% !important;
    padding: inherit !important;
    height: 30px !important;
    line-height: 30px !important;
}

.el-date-editor .el-range__icon {
    margin-left: 0 !important;
    line-height: inherit !important;
}

.el-date-editor .el-range-separator {
    line-height: inherit !important;
}

.el-submenu .el-menu-item {
    height: auto !important;
}

.el-menu-item-group__title {
    padding-left: 10px !important;
}

.el-tree {
    font-size: 10px !important;
}